<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ToolFlowMapper">

    <resultMap type="ToolFlow" id="ToolFlowResult">
        <result property="id"          column="id"          />
        <result property="name"        column="name"        />
        <result property="description" column="description" />
        <result property="nodes"       column="nodes"       />
        <result property="edges"       column="edges"       />
        <result property="createBy"    column="create_by"   />
        <result property="createTime"  column="create_time" />
        <result property="updateBy"    column="update_by"   />
        <result property="updateTime"  column="update_time" />
        <result property="remark"      column="remark"      />
    </resultMap>

    <sql id="selectToolFlowVo">
        select id, name, description, nodes, edges, create_by, create_time, update_by, update_time, remark from tool_flow
    </sql>

    <select id="selectToolFlowList" parameterType="ToolFlow" resultMap="ToolFlowResult">
        <include refid="selectToolFlowVo"/>
        <where>
            <if test="name != null and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectToolFlowById" parameterType="Long" resultMap="ToolFlowResult">
        <include refid="selectToolFlowVo"/>
        where id = #{id}
    </select>

    <insert id="insertToolFlow" parameterType="ToolFlow" useGeneratedKeys="true" keyProperty="id">
        insert into tool_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="nodes != null">nodes,</if>
            <if test="edges != null">edges,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="nodes != null">#{nodes},</if>
            <if test="edges != null">#{edges},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateToolFlow" parameterType="ToolFlow">
        update tool_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="nodes != null">nodes = #{nodes},</if>
            <if test="edges != null">edges = #{edges},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteToolFlowById" parameterType="Long">
        delete from tool_flow where id = #{id}
    </delete>

    <delete id="deleteToolFlowByIds" parameterType="String">
        delete from tool_flow where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
